
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F4A460;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #D2691E;
}


#ResumePicture {
    border-radius: 50%;
}

    div {
    text-align: center;
}



.skills { 
    color: black;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
}

#google {
    text-align: center;
}

.profile {
    margin: 25px;
}

.Menu {
    text-align: center;
}


#Info {
    color: white;
    font-style: italic; 
    text-align: center;
    border-radius: 2%;
}


.wrapper {
    padding: 0px;
    display: flex;
    width: 100%;
}

body {
    margin: 5px;
}

#footer {
    text-align: center;
}

#ContactInfo {
    color: black;
    border-radius: 3%;
    margin: 0px 5px;
    overflow: hidden;
    
}

#ContactInfo ul {
    list-style-type: none;
    margin: 0px 5px;
    border-radius: 3%;   
    height: 340px;
}

.resumecontent {
    color: black; 
    text-align: right;
    float: right;
    overflow: hidden;
    flex-shrink: inherit;
    border-radius: 3%;
    width:  1040px;
    margin: 5px 5px;
    font-style: italic;
    height: 1170px;
    padding-bottom: 50px;
    display: inline-block;
}

.resumecontent li::before {
        content: "\2022";
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1.05em
}

.resumecontent ul {
    list-style-type: none;
}
.title{
    font-size: 1.75em;
}
.page-wrapper{
    background-color: #FFE4B5;
    padding: 35px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info{
    font-color: black;
}

body{
    background-color: #FFE4B5;
    height: 100%;
    margin: 0px;
    padding: 0px;
}