#ResumePicture {
    border-radius: 50%;
}

    div {
    text-align: center;
}



.skills { 
    color: white;
    background-color: red;
    width: 210px;
    border: 15px solid black;
    padding: 20px;
    margin: 20px;
}

#google {
    text-align: center;
}

#profile {
    text-align: left;
    font: weight 900px;
    font-style: italic; 
    color: white;
    background-color: blue;
    width: 235px;
    height: 400px;
    border: 0px solid blue; 
    display: block;
    border-radius: 3%;
    padding: 20px; 
    float: left;
}

.Menu {
    text-align: center;
}

#Links {
    list-style-position: inside;
}

#Info {
    color: white;
    background-color: blue;
    font-style: italic; 
    text-align: center;
    border-radius: 2%;
    position: bottom;
    margin: 6px;
    float: left;
    width: 1050px;
    height: 440px;
    overflow: hidden;
}



